MAJ1_2_0_0part1 ScriptsUpdate "MAJ1_2_0_0-1.sql"
MAJ1_2_0_0part2 ScriptsUpdate "MAJ1_2_0_0-2.sql"
MAJ2_1_0_72part1 ScriptsUpdate "MAJ2_1_0_72-1.sql"
MAJ2_1_0_72part2 ScriptsUpdate "MAJ2_1_0_72-2.sql"
MAJ2_1_0_72part3 ScriptsUpdate "MAJ2_1_0_72-3.sql"
MAJ2_1_1_8part1 ScriptsUpdate "MAJ2_1_1_8-1.sql"
MAJ2_1_1_8part2 ScriptsUpdate "MAJ2_1_1_8-2.sql"
MAJ2_1_1_8part3 ScriptsUpdate "MAJ2_1_1_8-3.sql"

