{% for item in items %}
    <a href="#" onclick="return AjaxUpdate(&quot;detail&quot;, &quot;ficheserie.php?ref={{ item.id }}&quot;, &quot;Série : &quot; + this.title)" title="{{ item.obj.label }}">{{ item.obj.label }}</a><br />
{% endfor %}