[submodule "libs/delphi/virtual-treeview"]
	path = libs/delphi/virtual-treeview
	url = https://github.com/Tetram76/vendors.git
	branch = virtual-treeview
[submodule "libs/delphi/uib"]
	path = libs/delphi/uib
	url = https://github.com/Tetram76/vendors.git
	branch = uib
