[submodule "libs/delphi/alcinoe"]
	path = libs/delphi/alcinoe
	url = https://github.com/Tetram76/vendors.git
	branch = alcinoe
[submodule "libs/delphi/delphionrails"]
	path = libs/delphi/delphionrails
	url = https://github.com/Tetram76/vendors.git
	branch = delphionrails
[submodule "libs/delphi/dwscript"]
	path = libs/delphi/dwscript
	url = https://github.com/Tetram76/vendors.git
	branch = dwscript
[submodule "libs/delphi/fastmm"]
	path = libs/delphi/fastmm
	url = https://github.com/Tetram76/vendors.git
	branch = fastmm
[submodule "libs/delphi/graphics32"]
	path = libs/delphi/graphics32
	url = https://github.com/Tetram76/vendors.git
	branch = graphics32
[submodule "libs/delphi/grizzlypack"]
	path = libs/delphi/grizzlypack
	url = https://github.com/Tetram76/vendors.git
	branch = grizzlypack
[submodule "libs/delphi/ics"]
	path = libs/delphi/ics
	url = https://github.com/Tetram76/vendors.git
	branch = ics
[submodule "libs/delphi/jvcl/jcl"]
	path = libs/delphi/jvcl/jcl
	url = https://github.com/Tetram76/vendors.git
	branch = jcl
	fetchRecurseSubmodules = true
[submodule "libs/delphi/jvcl/jvcl"]
	path = libs/delphi/jvcl/jvcl
	url = https://github.com/Tetram76/vendors.git
	branch = jvcl
	fetchRecurseSubmodules = true
[submodule "libs/delphi/pascalscript"]
	path = libs/delphi/pascalscript
	url = https://github.com/Tetram76/vendors.git
	branch = pascalscript
[submodule "libs/delphi/pngcomponents"]
	path = libs/delphi/pngcomponents
	url = https://github.com/Tetram76/vendors.git
	branch = pngcomponents
[submodule "libs/delphi/superobject"]
	path = libs/delphi/superobject
	url = https://github.com/Tetram76/vendors.git
	branch = superobject
[submodule "libs/delphi/synedit"]
	path = libs/delphi/synedit
	url = https://github.com/Tetram76/vendors.git
	branch = synedit
[submodule "libs/delphi/uib"]
	path = libs/delphi/uib
	url = https://github.com/Tetram76/vendors.git
	branch = uib
[submodule "libs/delphi/virtual-treeview"]
	path = libs/delphi/virtual-treeview
	url = https://github.com/Tetram76/vendors.git
	branch = virtual-treeview
