<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tetram.bdtheque"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <permission android:name="org.tetram.bdtheque.provider.READ_PROVIDER"/>
    <permission android:name="org.tetram.bdtheque.provider.READ_PROVIDER_TEMPORARY"/>
    <permission android:name="org.tetram.bdtheque.provider.WRITE_PROVIDER"/>

    <uses-permission android:name="org.tetram.bdtheque.provider.READ_PROVIDER"/>
    <uses-permission android:name="org.tetram.bdtheque.provider.READ_PROVIDER_TEMPORARY"/>
    <uses-permission android:name="org.tetram.bdtheque.provider.WRITE_PROVIDER"/>

    <application
        android:name="org.tetram.bdtheque.BDThequeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/BDTKTheme">

        <activity android:name="org.tetram.bdtheque.gui.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="org.tetram.bdtheque.gui.activities.RepertoireActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/recherche"/>
        </activity>
        <activity
            android:name="org.tetram.bdtheque.gui.activities.FicheActivity"
            android:parentActivityName="org.tetram.bdtheque.gui.activities.RepertoireActivity"/>
        <activity android:name="org.tetram.bdtheque.gui.activities.GestionActivity"/>
        <activity android:name="org.tetram.bdtheque.gui.activities.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="org.tetram.bdtheque.gui.activities.ImageActivity"/>

        <provider
            android:authorities="org.tetram.bdtheque.provider"
            android:name=".provider.BDContentProvider"
            android:enabled="true"
            android:exported="false"
            android:readPermission="org.tetram.bdtheque.provider.READ_PROVIDER"
            android:writePermission="org.tetram.bdtheque.provider.WRITE_PROVIDER"
            android:grantUriPermissions="false">
            <grant-uri-permission android:pathPrefix="content://org.tetram.bdtheque.provider"/>
        </provider>

    </application>

</manifest>
