<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2014, tetram.org. All Rights Reserved.
  ~ mybatis-config.xml
  ~ Last modified by Tetram, on 2014-07-31T14:28:42CEST
  -->

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="org/tetram/bdtheque/config/database.properties">
        <property name="driver" value="org.firebirdsql.jdbc.FBDriver"/>
        <property name="username" value="SYSDBA"/>
        <property name="password" value="masterkey"/>
    </properties>

    <settings>
        <setting name="aggressiveLazyLoading" value="false"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="callSettersOnNulls" value="false"/>
        <setting name="logImpl" value="LOG4J2"/>
        <setting name="multipleResultSetsEnabled" value="false"/>

        <!-- les deux utilisent CGLIB -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="java.lang.Integer" alias="Integer"/>
        <typeAlias type="java.lang.String" alias="String"/>
        <typeAlias type="java.lang.Character" alias="Character"/>

        <typeAlias type="java.util.UUID" alias="UUID"/>
        <typeAlias type="org.tetram.bdtheque.data.UUIDTypeHandler" alias="UUIDTypeHandler"/>
        <typeAlias type="java.net.URL" alias="URL"/>
        <typeAlias type="org.tetram.bdtheque.data.URLTypeHandler" alias="URLTypeHandler"/>
        <typeAlias type="java.time.LocalDate" alias="LocalDate"/>
        <typeAlias type="org.tetram.bdtheque.data.LocalDateTypeHandler" alias="LocalDateTypeHandler"/>
        <typeAlias type="java.time.Year" alias="Year"/>
        <typeAlias type="org.tetram.bdtheque.data.YearTypeHandler" alias="YearTypeHandler"/>
        <typeAlias type="java.time.Month" alias="Month"/>
        <typeAlias type="org.tetram.bdtheque.data.MonthTypeHandler" alias="MonthTypeHandler"/>

        <typeAlias type="org.tetram.bdtheque.data.bean.ValeurListe" alias="ValeurListe"/>
        <typeAlias type="org.tetram.bdtheque.data.ValeurListeTypeHandler" alias="ValeurListeTypeHandler"/>
        <typeAlias type="org.tetram.bdtheque.data.bean.CategorieValeurListe" alias="ValeurListeCategorie"/>

        <typeAlias type="org.tetram.bdtheque.data.bean.MetierAuteur" alias="MetierAuteur"/>

        <typeAlias type="org.tetram.bdtheque.data.bean.Album" alias="beanAlbum"/>
        <typeAlias type="org.tetram.bdtheque.data.bean.AlbumLite" alias="beanAlbumLite"/>
        <typeAlias type="org.tetram.bdtheque.data.bean.AuteurAlbumLite" alias="beanAuteurAlbumLite"/>
        <typeAlias type="org.tetram.bdtheque.data.bean.AuteurParaBDLite" alias="beanAuteurParaBDLite"/>
        <typeAlias type="org.tetram.bdtheque.data.bean.AuteurSerieLite" alias="beanAuteurSerieLite"/>
        <typeAlias type="org.tetram.bdtheque.data.bean.Collection" alias="beanCollection"/>
        <typeAlias type="org.tetram.bdtheque.data.bean.CollectionLite" alias="beanCollectionLite"/>
        <typeAlias type="org.tetram.bdtheque.data.bean.ConversionLite" alias="beanConversionLite"/>
        <typeAlias type="org.tetram.bdtheque.data.bean.CouvertureLite" alias="beanCouvertureLite"/>
        <typeAlias type="org.tetram.bdtheque.data.bean.Editeur" alias="beanEditeur"/>
        <typeAlias type="org.tetram.bdtheque.data.bean.EditeurLite" alias="beanEditeurLite"/>
        <typeAlias type="org.tetram.bdtheque.data.bean.Edition" alias="beanEdition"/>
        <typeAlias type="org.tetram.bdtheque.data.bean.EditionLite" alias="beanEditionLite"/>
        <typeAlias type="org.tetram.bdtheque.data.bean.GenreLite" alias="beanGenreLite"/>
        <typeAlias type="org.tetram.bdtheque.data.bean.ParaBD" alias="beanParaBD"/>
        <typeAlias type="org.tetram.bdtheque.data.bean.ParaBDLite" alias="beanParaBDLite"/>
        <typeAlias type="org.tetram.bdtheque.data.bean.Personne" alias="beanPersonne"/>
        <typeAlias type="org.tetram.bdtheque.data.bean.PersonneLite" alias="beanPersonneLite"/>
        <typeAlias type="org.tetram.bdtheque.data.bean.PhotoLite" alias="beanPhotoLite"/>
        <typeAlias type="org.tetram.bdtheque.data.bean.Serie" alias="beanSerie"/>
        <typeAlias type="org.tetram.bdtheque.data.bean.SerieLite" alias="beanSerieLite"/>
        <typeAlias type="org.tetram.bdtheque.data.bean.Univers" alias="beanUnivers"/>
        <typeAlias type="org.tetram.bdtheque.data.bean.UniversLite" alias="beanUniversLite"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="UUIDTypeHandler"/>
        <typeHandler handler="URLTypeHandler"/>
        <typeHandler handler="LocalDateTypeHandler"/>
        <typeHandler handler="YearTypeHandler"/>
        <typeHandler handler="MonthTypeHandler"/>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="MetierAuteur"/>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="ValeurListeCategorie"/>
        <typeHandler handler="ValeurListeTypeHandler"/>
    </typeHandlers>

    <!-- permet de d'intervenir sur la création/initialisation des beans
    <objectFactory type=""/>
    -->

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${database.url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
                <property name="driver.encoding" value="UTF8"/>
            </dataSource>
        </environment>
    </environments>

    <!--mappers>
        <mapper resource="org/tetram/bdtheque/data/bean/AlbumMapper.xml"/>
        <mapper resource="org/tetram/bdtheque/data/bean/AuteurMapper.xml"/>
        <mapper resource="org/tetram/bdtheque/data/bean/CollectionMapper.xml"/>
        <mapper resource="org/tetram/bdtheque/data/bean/EditeurMapper.xml"/>
        <mapper resource="org/tetram/bdtheque/data/bean/EditionMapper.xml"/>
        <mapper resource="org/tetram/bdtheque/data/bean/GenreMapper.xml"/>
        <mapper resource="org/tetram/bdtheque/data/bean/ImageMapper.xml"/>
        <mapper resource="org/tetram/bdtheque/data/bean/ParaBDMapper.xml"/>
        <mapper resource="org/tetram/bdtheque/data/bean/SerieMapper.xml"/>
        <mapper resource="org/tetram/bdtheque/data/bean/UniversMapper.xml"/>
        <mapper resource="org/tetram/bdtheque/data/bean/ValeurListeMapper.xml"/>
    </mappers-->

</configuration>