<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BD.Workstation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BD.Workstation.Properties.Settings.bdConnectionString"
            connectionString="User=SYSDBA;Password=masterkey;Database=SampleDatabase.fdb;DataSource=localhost;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <BD.Workstation.Properties.Settings>
            <setting name="database" serializeAs="String">
                <value>G:\Programmation\MEDIA.KIT\BDThèque\bin\BD.GDB</value>
            </setting>
            <setting name="dbusername" serializeAs="String">
                <value>SYSDBA</value>
            </setting>
            <setting name="dbuserpassword" serializeAs="String">
                <value>masterkey</value>
            </setting>
            <setting name="dbserver" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="dbservertype" serializeAs="String">
                <value>Default</value>
            </setting>
        </BD.Workstation.Properties.Settings>
    </userSettings>
</configuration>