parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     null
    database_name:     bdtheque
    database_user:     bdtheque
    database_password: 280776

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            fr
    secret:            f3d112033d265c653696fcd89e8db0285403cd7d
