<%
vSerie=Modules.FicheSerie.Serie
vTitre=vSerie.TitreSerie
vEditeur=Modules.FicheSerie.Editeur
vCollection=Modules.FicheSerie.Collection
vAlbums=Modules.FicheSerie.Albums
vGenres=Modules.FicheSerie.Genres
%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//FR">
<HTML>
	<HEAD>
		<TITLE><%=Application.Title%>&nbsp;-&nbsp;<%=vTitre.DisplayText%></TITLE>
		<LINK rel="stylesheet" href="/Styles.css" type="text/css">
	</HEAD>
	<BODY>
		<H1><%=vTitre.DisplayText%></H1>
		<TABLE border=0 width=100%>
			<TBODY valign=top>
				<TR>
					<TH align=right></TH><TD width=100%><%=vSerie.Terminee.Value==1?'Serie terminée':'Serie en cours'%></TD>
				</TR>
				<TR>
					<TH align=right>Editeur:</TH><TD width=100%><%=vEditeur.SiteWeb.Value!=''?'<A target=_blank href=' + vEditeur.SiteWeb.Value + '>':''%><%=vEditeur.NomEditeur.DisplayText%><%=vEditeur.SiteWeb.Value!=''?'</a>':''%></TD>
				</TR>
				<TR>
					<TH align=right>Collection:</TH><TD><%=vCollection.NomCollection.DisplayText%></TD>
				</TR>
<%
var e = new Enumerator(vGenres.Records);
if (!e.atEnd()) { %>
				<TR>
					<TH align=right>Genre:</TH>
					<TD>
<%
	s = '';
	for (; !e.atEnd(); e.moveNext())
		s == '' ? s = vGenres.Genre.Value : s += ', ' + vGenres.Genre.Value;
	Response.Write(s);
%>
					</TD>
				</TR>
<% } %>
<% if (vSerie.Histoire.Value!="") { %>
				<TR><TD>&nbsp;</TD></TR>
				<TR>
					<TH align=right>Histoire:</TH><TD><%=vSerie.Histoire.Value%></TD>
				</TR>
<% } %>
<% if (vSerie.Notes.Value!="") { %>
				<TR><TD>&nbsp;</TD></TR>
				<TR>
					<TH align=right>Notes:</TH><TD><%=vSerie.Notes.Value%></TD>
				</TR>
<% } %>
<%
var e = new Enumerator(vAlbums.Records);
if (!e.atEnd()) { %>
				<TR><TD>&nbsp;</TD></TR>
				<TR>
					<TH align=right>Albums:</TH>
					<TD>
<%
	for (; !e.atEnd(); e.moveNext()) { %>
						<A href="FicheAlbum?RefAlbum=<%=vAlbums.RefAlbum.Value%>"><%=vAlbums.Libelle.DisplayText%><br>
<% 	} %>
					</TD>
				</TR>
<% } %>
			</TBODY>
		</TABLE>
		<P>
		<A href="javascript:history.back();">Retour</A> - <A href="Repertoire">R&eacute;pertoire</A><BR>
	</BODY>
</HTML>