body { background-color: white; font-family: Arial }
.TitreFilm { width: 400 }
.VO { text-align: center; width: 50 }
.AnneeFilm { text-align: center; width: 80 }
.TypeSupport { text-align: center; width: 80 }