html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body, div, p, table {
	font-family: Tahoma;
	font-size: 12px;
	color: #000000;
}

table {
	border-collapse:collapse;
	border-spacing: 0;
}

body { 
	background-color: white; 
	background-image: url('graphics/fondbdd.jpg'); 
}

a, a:active, a:visited {
	color: #5A7A9A;
	outline: none;
}

h1 {
	font-size: 18px;
	padding: 0px;
	margin: 10px;
}

#wait {
	position: absolute;
	bottom: 20px;
	left: 400px;
	height: 20px;
	width: 200px;
	white-space: nowrap;
	background-color: #bcccda;
	border: 1px solid #5A7A9A;
	vertical-align: middle;
}

#listeinitiales-header
{
	position: absolute;
	top: 0px;
	left: 10px;
	width: 200px;
	padding-top: 10px;
	height: 80px;
	border-right: 1px solid #bcccda;
}

#listeinitiales-body
{
	position: absolute;
	top: 90px;
	left: 10px;
	width: 200px;
	bottom: 60px;
	border-right: 1px solid #bcccda;
	overflow: auto;
}

#bottombar
{
	position: absolute;
	bottom: 0px;
	height: 60px;
	width: 100%;
	white-space: nowrap;
	border-top: 1px solid #bcccda;
}

#listealbums {
	position: absolute;
	top: 0px;
	left: 210px;
	width: 400px;
	bottom: 60px;
	border-right: 1px solid #BCCCDA;
	overflow: auto;
}

#listealbums #entete,
#listeprevisions #entete,
#listemanquants #entete,
#listeachats #entete
{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 40px;
}

#listealbums #body,
#listeprevisions #body,
#listemanquants #body,
#listeachats #body
{
	position: absolute;
	top: 40px;
	width: 100%;
	bottom: 0px;
	overflow: auto;
}

#listealbums #body .TitreAlbum {
	width: 50%;
}

#detail {
	position: absolute;
	top: 0px;
	left: 610px;
	right: 10px;
	bottom: 60px;
	overflow: auto;
}

#detail #entete{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 40px;
}

#detail #body{
	position: absolute;
	top: 40px;
	width: 100%;
	bottom: 0px;
	overflow: auto;
}

#zoom {
	position: absolute;
	border: 3px solid #BCCCDA;
	padding: 4px;
	left: 230px;
	top: 30px;
	z-index: 0;
	background-color: #ffffff;
}

#zoomimage {
	cursor: pointer;
}