PLEINELUNE   BITMAP PURE DISCARDABLE "Lune_16.bmp"
NOUVELLELUNE BITMAP PURE DISCARDABLE "Lune_0.bmp"
PREMIERQUART BITMAP PURE DISCARDABLE "Lune_8.bmp"
DERNIERQUART BITMAP PURE DISCARDABLE "Lune_24.bmp"
PhasesLune   BITMAP PURE DISCARDABLE "fm.bmp"   

SAINTS  TEXT PURE DISCARDABLE "saints.txt"
