#repertoire
{
	height: expression(document.body.clientHeight - this.offsetTop - 110 + 'px');
}

#repertoire_body
{
	height: expression(this.parentNode.clientHeight - this.offsetTop + 'px');
}

#detail
{
	height: expression(document.body.clientHeight - this.offsetTop - 59 + 'px');
}

#detail_body
{
	height: expression(document.body.clientHeight - this.offsetTop - 120 + 'px');
}

#detail
{
	width: expression(document.body.clientWidth - this.offsetLeft + 'px');
}

.tabsheet, .tabsheet_selected
{
	height: 30px; /* 30-4 */
	width: 88px; /* 88-8 */
}

#outer {
	height: 100%; 
	width: 100%; 
	overflow: hidden; 
	position: relative;
}
#middle {
	position: absolute; 
	top: 50%;
	left: 50%;
	text-align: center;
} 
#inner {
	position: relative; 
	top: -50%;
	left: -50%;
	margin-left: auto; 
	margin-right: auto; 
	text-align: left;
}
