:root { 
    display: block;
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    font-size: 62.5%;
}

.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}

#wait {
    position: absolute;
    bottom: 20px;
    left: 400px;
    height: 20px;
    width: 200px;
    white-space: nowrap;
    background-color: #bcccda;
    border: 1px solid #5A7A9A;
    vertical-align: middle;
}
