<component name="libraryTable">
  <library name="mybatis-3.2.7">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../lib/mybatis-3.2.7/mybatis-3.2.7.jar!/" />
      <root url="file://$PROJECT_DIR$/../lib/mybatis-3.2.7/lib" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://$PROJECT_DIR$/../lib/mybatis-3.2.7/src/main/java" />
      <root url="jar://$USER_HOME$/.ideaLibSources/log4j-1.2.17-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/../lib/apache-log4j-2.0-rc1-src.zip!/apache-log4j-2.0-rc1-src/log4j-api/src/main/java" />
      <root url="jar://$PROJECT_DIR$/../lib/apache-log4j-2.0-rc1-src.zip!/apache-log4j-2.0-rc1-src/log4j-api/src/test/java" />
      <root url="jar://$PROJECT_DIR$/../lib/apache-log4j-2.0-rc1-src.zip!/apache-log4j-2.0-rc1-src/log4j-jcl/src/main/java" />
      <root url="jar://$PROJECT_DIR$/../lib/apache-log4j-2.0-rc1-src.zip!/apache-log4j-2.0-rc1-src/log4j-jcl/src/test/java" />
      <root url="jar://$PROJECT_DIR$/../lib/apache-log4j-2.0-rc1-src.zip!/apache-log4j-2.0-rc1-src/log4j-core/src/main/java" />
      <root url="jar://$PROJECT_DIR$/../lib/apache-log4j-2.0-rc1-src.zip!/apache-log4j-2.0-rc1-src/log4j-core/src/test/java" />
      <root url="jar://$PROJECT_DIR$/../lib/apache-log4j-2.0-rc1-src.zip!/apache-log4j-2.0-rc1-src/log4j-taglib/src/main/java" />
      <root url="jar://$PROJECT_DIR$/../lib/apache-log4j-2.0-rc1-src.zip!/apache-log4j-2.0-rc1-src/log4j-taglib/src/test/java" />
      <root url="jar://$PROJECT_DIR$/../lib/apache-log4j-2.0-rc1-src.zip!/apache-log4j-2.0-rc1-src/log4j-1.2-api/src/main/java" />
      <root url="jar://$PROJECT_DIR$/../lib/apache-log4j-2.0-rc1-src.zip!/apache-log4j-2.0-rc1-src/log4j-1.2-api/src/test/java" />
      <root url="jar://$PROJECT_DIR$/../lib/apache-log4j-2.0-rc1-src.zip!/apache-log4j-2.0-rc1-src/log4j-jmx-gui/src/main/java" />
      <root url="jar://$PROJECT_DIR$/../lib/apache-log4j-2.0-rc1-src.zip!/apache-log4j-2.0-rc1-src/log4j-samples/flume-common/src/main/java" />
      <root url="jar://$PROJECT_DIR$/../lib/apache-log4j-2.0-rc1-src.zip!/apache-log4j-2.0-rc1-src/log4j-flume-ng/src/main/java" />
      <root url="jar://$PROJECT_DIR$/../lib/apache-log4j-2.0-rc1-src.zip!/apache-log4j-2.0-rc1-src/log4j-flume-ng/src/test/java" />
      <root url="jar://$PROJECT_DIR$/../lib/apache-log4j-2.0-rc1-src.zip!/apache-log4j-2.0-rc1-src/log4j-to-slf4j/src/main/java" />
      <root url="jar://$PROJECT_DIR$/../lib/apache-log4j-2.0-rc1-src.zip!/apache-log4j-2.0-rc1-src/log4j-to-slf4j/src/test/java" />
      <root url="jar://$PROJECT_DIR$/../lib/apache-log4j-2.0-rc1-src.zip!/apache-log4j-2.0-rc1-src/log4j-slf4j-impl/src/main/java" />
      <root url="jar://$PROJECT_DIR$/../lib/apache-log4j-2.0-rc1-src.zip!/apache-log4j-2.0-rc1-src/log4j-slf4j-impl/src/test/java" />
    </SOURCES>
    <jarDirectory url="file://$PROJECT_DIR$/../lib/mybatis-3.2.7/lib" recursive="false" />
  </library>
</component>