<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}BDThèque{% endblock %}</title>
{% javascripts 
    '@BDThequeDataModelBundle/Resources/public/js/*.min.js'
    '@BDThequeDataModelBundle/Resources/public/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% stylesheets filter='cssrewrite'
    'bundles/bdthequedatamodel/css/pepper-grinder/*.min.css' 
    'bundles/bdthequedatamodel/css/*.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% block extra_header %}{% endblock %}
    </head>
    <body>
        <div id=wait style="display: none;">
{#
            <img src="{{ asset('bundles/bdthequedatamodel/images/loading.gif') }}" valign="center">
#}
{% image '@BDThequeDataModelBundle/Resources/public/images/loading.gif' %}
                <img src="{{ asset_url }}" valign="center">
{% endimage %}
                &nbsp;Chargement des données...
            </div>
            <div id=toolBar>{% block toolBar %}{% endblock %}</div>
            <div id=statusBar>{% block statusBar %}{% endblock %}</div>
            <div id=leftPanel>{% block leftPanel %}{% endblock %}</div>
            <div id=editPanel>{% block editPanel %}{% endblock %}</div>
            <div id=contentPanel>{% block contentPanel %}{% endblock %}</div>
{% block extra_footer %}{% endblock %}
        </body>
    </html>