<html>
    <head>
	<meta charset="UTF-8" />
	<title>{% block title %}BDThèque{% endblock %}</title>
{% javascripts 
    '@BDThequeDataModelBundle/Resources/public/js/jquery-1.8.3.min.js'
    '@BDThequeDataModelBundle/Resources/public/js/jquery-ui-1.9.1.custom.min.js'
    '@BDThequeDataModelBundle/Resources/public/*.js' %}
	<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% stylesheets filter='cssrewrite'
    'bundles/bdthequedatamodel/css/*.css' 
    'bundles/bdthequedatamodel/css/pepper-grinder/jquery-ui-1.9.1.custom.min.css' %}
	<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% block extra_header %}{% endblock %}
    </head>
    <body>
	<div id=toolBar>{% block toolBar %}{% endblock %}</div>
	<div id=statusBar>{% block statusBar %}{% endblock %}</div>
	<div id=leftPanel>{% block leftPanel %}{% endblock %}</div>
	<div id=editPanel>{% block editPanel %}{% endblock %}</div>
	<div id=contentPanel>{% block contentPanel %}{% endblock %}</div>
    </body>
</html>